<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>REGISTRO NUEVO EMPLEADO</h1>
<form method="post" th:action="@{/empleados/grabar}">
	<div>
		<label>Nombre</label>
		<input type="text" name="nombre">
	</div>
	<div>
		<label>Apellido</label>
		<input type="text" name="apellido">
	</div>
	<div>
		<label>Email</label>
		<input type="text" name="email">
	</div>
	<div>
		<label>Telefono</label>
		<input type="text" name="telefono">
	</div>
	<div>
		<button type="submit">Grabqr</button>
	</div>
</form>
</body>
</html>